.button-add{
	color: white;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.button-del{
	color: white;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.textCenter {
	text-align: center;
}
.textRight{
	margin-top: 10px;
	color: white;
	text-align: right;
	font-size: 10px;
}
.header h2{
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
}
.Subjectbox{
	color: white;
	background-color: rgba(0,0,0,0.8);
	height: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.Descripbox{
	color: white;
	background-color: rgba(0,0,0,0.8);
	height: 80px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.showtodo{
	margin: 10px;
	color: white;
	background-color: rgba(0,0,0,0.8);
	font-size: 20px;
	overflow-y : auto;
}
.showdescrip{
	position: absolute;
	height: 60px;
	color: white;
	background-color: rgba(0,0,0,0.8);
	font-size: 13px;
	overflow-y : auto;
}
.textbody{
	height: 300px;
	overflow-y : auto;
}
.rowbody {
	margin-left: 0px;
	margin-right: 0px;
}
.rowbody::after {
	content: "";
	display: table;
	clear: both;
}
.list-group-itemedit {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  margin-left: 12px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #ddd;
}
.bg{
	background-image: url("./dark_blue_background-wallpaper-1366x768.jpg");
	background-repeat: repeat,no-repeat,no-repeat;
    background-size: cover;
    background-position: top left,center center,bottom center;
	background-attachment: fixed,fixed,fixed;
}